<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sochet</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!--Uses Google's open sans font!-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="messages-container">
            <% if(chathistory.length > 0) { for (var i = 0; i < chathistory.length; i++) {%>
                <div class="chatmessage"> &lt; <%= name %> at <%= current_time %> &gt; <%= chathistory[i] %></div>
            <% }} %>

            <% if(error !== null){ %>
                <p><%= error %></p>
            <% } %>

            <div class="chatmessage"> EMPTY MESSAGE YAY </div>

            <div class="chatmessage"> EMPTY MESSAGE YAY </div>
        </div>
        <div class="send-container">
            <form action="/" method="post">
                <input name="chatbox" type="text" class="text-input" placeholder="Type your message here..." required>
                <input type="submit" class="send-message-button" value="Send">
                <input name="namebox" type="text" class="name-input" value="<%= name %>">
                <input type="button" class="set-name-button" value="Set Name">
            </form>
        </div>
    </body>
</html>
