body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.messages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(169, 169, 197);
}

.messages-container .chatmessage:nth-child(odd) {
    background-color: rgb(152, 152, 184);
}

.send-container {
    background-color: rgb(88, 139, 148);
    padding-right: 10px;
    display: flex;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.send-container form {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 25px;
    max-height: 100px;
}

.text-input {
    flex-grow: 1;
    align-self: stretch;
}

.send-message-button {
    align-self: right;
    height: 100%;
}

.set-name-button {
    align-self: right;
    height: 100%;
}